{% extends 'admins/base.html' %}

{% block content %}
{% csrf_token %}
                <div class="page-header">
                    <h1 class="sub-header">墓位新增</h1>
                    <hr>
                    <form action="{% url 'cemeteries:new_tomb' %}" role="form" class="form-horizontal" method="post">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">墓区名称:</label>
                            <div class="col-md-4">
                                <select class="form-control" id="area_name" name="area_name"></select>
                            </div>
                            <label class="col-md-2 control-label">墓型名称:</label>
                            <div class="col-md-4">
                                <select class="form-control" id="cate_name" name="cate_name"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label">单双墓:</label>
                            <div class="col-md-9">
                                <select class="form-control" name="cate_type">
                                    <option value="单">单</option>
                                    <option value="双">双</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">修改人:</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="modify_user" value="{{ user }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-primary">新增</button>
                            <button type="reset" class="btn btn-cancel">重置</button>
                            <button type="button" class="btn btn-default" id="close">关闭</button>
                        </div>
                    </form>
                </div>
                <!--墓型设置完成-->
                <script>
                    $(function(){
                        $.ajax({
                            url: '{% url 'cemeteries:list_area' %}',
                            type: 'POST',
                            dataType: 'json',
                            success: function(data) {
                                for (var i = 0; i < data.length; i++){
                                    $("#area_name").append("<option value='" + data[i].area_code + "'>"
                                    + data[i].area_name + "</option>");
                                }
                            }
                        });
                        $.ajax({
                            url: '{% url 'cemeteries:list_cate' %}',
                            type: 'POST',
                            dataType: 'json',
                            success: function(data) {
                                for (var i = 0; i < data.length; i++){
                                    $("#cate_name").append("<option value='" + data[i].cate_code + "'>"
                                     + data[i].cate_name + "</option>");
                                }
                            }
                        });
                    });

                </script>
{% endblock content %}
